.Rproj.user
.Rhistory
.RData
.Ruserdata
data/austraits.rds
*.docx
*.html
figures/*
wc10/*
*.pdf
ms.md
ms.tex
data/author_list_email.csv
data/Australia_GISdata_LTAym_AvgDailyTotals_GlobalSolarAtlas-v2_GEOTIFF/*
wc2-5/*
*.tif
*.png
data/old_data
*.tex
output/old_output
old_RMDs/
.DS_Store/
